* {
    -webkit-user-select: none;  /* Chrome 49+ */
    -moz-user-select: none;     /* Firefox 43+ */
    -ms-user-select: none;      /* No support yet */
    user-select: none;          /* Likely future */   
}

input[type=checkbox] {
    display: none;
}

button.btn img {
    height: 20px;
}

.img-thumbnail {
    width: 100px;
    cursor: pointer;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
    text-transform: lowercase;
}

.dropzone {
    border-style: dashed;
    padding: 0;
    margin-bottom: 20px;
}

.dropzone.dropzone.dz-clickable i {
    cursor: pointer;
    float: right;
    padding: 5px;
}

.form-control-media {
    width: auto;
    display: inline-block;
}

.load-more {
    background: transparent;
    height: 46px;
}

.box-media {
    padding: 0px 7px 15px 7px;
    position: relative;
}

.box-media .icheckbox_square-blue {
    position: absolute;
    background-color: rgba(60, 141, 188, 1);
    display: none;
}

.box-media .icheckbox_square-blue.checked,
.box-media:hover .icheckbox_square-blue {
    display: block;
}

.box-media .img-bordered-sm {
    border: 1px solid #d2d6de;
    padding: 0;
}

.box-media-new .img-bordered-sm {
    border-color: #3c8dbc;
}

@media (min-width: 1600px) {
    .box-media {
        width: calc(100% / 9);
    }
}

.jconfirm .content {
    min-height: inherit;
}

.modal {
    padding-right: 0px !important;
}

.modal-media {
    width: 95%;
    margin: 30px auto;
}

.modal-media .modal-body {
    background-color: #f3f3f3;
    padding: 0 15px;
}

.modal-media .modal-body .img-render {
    background-color: #ffffff;
    padding-bottom: 15px;
    padding-top: 15px;
}

.modal-media .modal-body .img-render img {
    margin: auto;
    max-height: calc(100vh - 146px);
}

.modal-media .modal-body .info-render {
    padding-bottom: 15px;
    padding-top: 15px;
}

.show-media {
    max-height: calc(100vh - 124px);
    overflow: auto;
}

.nav-tabs-custom {
    margin-bottom: 0px;
}

.media-detail .tab-pane {
    max-height: calc(100vh - 189px);
    overflow: auto;
}

.media-detail .tab-pane img {
    max-height: 300px;
    margin: auto;
    margin-bottom: 20px;
}