.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
    text-transform: lowercase;
}

.dropzone {
    border-style: dashed;
    padding: 0;
}

.dropzone.dropzone.dz-clickable i {
    cursor: pointer;
    float: right;
    padding: 5px;
}

.form-control-media {
    width: auto;
    display: initial;
}

.load-more {
    background: transparent;
}

.load-more img {
    display: none;
}

.box-media {
    padding: 7px;
}

.box-media .media-item {
    position: relative;
}

.box-media .media-item .icheckbox_square-blue {
    position: absolute;
    background-color: rgba(60, 141, 188, 0.6);
}

.box-media .img-bordered-sm {
    border: 1px solid #d2d6de;
    padding: 0;
}

.box-media-new .img-bordered-sm {
    border-color: #3c8dbc;
}

@media (min-width: 1600px) {
    .box-media {
        width: calc(100% / 9);
    }
}

.jconfirm .content {
    min-height: inherit;
}

.modal {
    padding-right: 0px !important;
}

.modal-media {
    width: 95%;
    margin: 30px auto;
}

.modal-media .modal-body {
    background-color: #f3f3f3;
    padding: 0 15px;
}

.modal-media .modal-body .img-render {
    background-color: #ffffff;
    padding-bottom: 15px;
    padding-top: 15px;
}

.modal-media .modal-body .img-render img {
    margin: auto;
    max-height: calc(100vh - 146px);
}

.modal-media .modal-body .info-render {
    padding-bottom: 15px;
    padding-top: 15px;
}